# Data Collection

My student ID is 22202363.

In this assignment I will collect business data and user reviews from the https://www.yelp.com/developers/documentation/v3/get_started for restaurants & bars in Dublin.

Aim of Data Analysis
---

I like trying tasting food. This is my first time living in Dublin. I want to know the eating habits and delicious restaurants here, and I will try these restaurants with my friends in the future.
At the same time, I heard that the wine culture or bar culture here is very deep, and I also want to know the information related to the bar.
1. Get an overview of restaurants and bars in Dublin: the distribution of the number and catogory of restaurants in different regions, the prices of restaurants in different regions/types, the types of restaurants with the largest number, the top 10 restaurants, the overall star rating distribution of restaurants and bars, etc.
2. Choose the restaurants you plan to try in the future: 10 restaurants & bars with many reviews and high ratings (at least 4 different types);
3. Find out the features about these restaurants from tons of user reviews.

In [1]:
import json, requests
import pandas as pd

In [2]:
url = 'https://api.yelp.com/v3/businesses/search'
key = 'akX_q_pdbj6rh2xLXX35DTVNvqdD3T3F9gopk7Zqtp98hZF0gFEzGAdkZZEDwUU9o0iLsq0tOJN99o9eknmi8SvB1hz2FmFsQBzT9Oq9lVyLxyvACu72aem38OBWY3Yx'
headers = {'Authorization': 'bearer %s' % key}

In [7]:

result = {'id':[],'name':[],'category':[],'rating':[],'reviews':[],'price':[],'zipcode':[],'latitude':[],
          'longitude':[],'city':[],'address1':[],'address2':[],'address3':[],'display_address':[]}
terms = ['restaurant','bar']

for term in terms:  
    for n in range(1,951,50):
        parameters = {'term': term,
                      'limit': 50,
                      'offset': n,
                      #'radius': 20000,
                      'is_closed': False,
                      'country': 'IE',
                      'location': 'Dublin', 
                      'sort_by':'review_count',


                      }
        response = requests.get(url,headers=headers,params= parameters)
        #print(response.json())

        query = response.json()['businesses']


        for q in query:
            result['id'].append(q['id'])
            result['name'].append(q['name'])
            result['rating'].append(q['rating'])
            result['category'].append(q['categories'][0]['alias'])
            result['reviews'].append(q['review_count'])
            #result['Coordinates'].append(q['coordinates'])
            result['latitude'].append(q['coordinates']['latitude'])
            result['longitude'].append(q['coordinates']['longitude'])
            result['zipcode'].append(q['location']['zip_code'])
            result['city'].append(q['location']['city'])  
            result['address1'].append(q['location']['address1'])
            result['address2'].append(q['location']['address2']) 
            result['address3'].append(q['location']['address3']) 
            result['display_address'].append(q['location']['display_address']) 
            
            try:
                result['price'].append(q['price'])
            except KeyError:
                result['price'].append('')  
                '''
            try:
                result['region'].append(q['region']['center'])
            except KeyError:
                result['region'].append('')  
                '''
          
result = pd.DataFrame(result)

In [4]:
result

,id,name,category,rating,reviews,price,zipcode,latitude,longitude,city,address1,address2,address3,display_address
0,fR-pJ6nUn1bjPuT6lS2bsQ,The Brazen Head,pubs,4.0,739,€€,8,53.344970,-6.276330,Dublin,20 Bridge Street Lower,None,None,"[20 Bridge Street Lower, Dublin 8, Republic of..."
1,A-HzqcGJVTwHVFTVH_LlPA,The Temple Bar,pubs,4.0,550,€€,2,53.345500,-6.264190,Dublin,47/48 Temple Bar,Temple Bar,None,"[47/48 Temple Bar, Temple Bar, Dublin 2, Repub..."
2,rKvPQZcgjrQOLRU0phPoAQ,Queen of Tarts,desserts,4.5,511,€€,2,53.344121,-6.267529,Dublin,Cork Hill,Dame Street,,"[Cork Hill, Dame Street, Dublin 2, Republic of..."
3,_449xLONUU9nAUzCja2bNA,The Porterhouse Temple Bar,pubs,4.0,369,€€,2,53.345100,-6.267550,Dublin,16-18 Parliament Street,None,None,"[16-18 Parliament Street, Dublin 2, Republic o..."
4,-VIve-QeHR9-cKr7QldqtA,Elephant & Castle,tradamerican,4.0,345,€€,2,53.345600,-6.262470,Dublin,18 Temple Bar,None,None,"[18 Temple Bar, Dublin 2, Republic of Ireland]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,TVjY8fNyPccD2nNnKULtlw,Bradys Bar,pubs,3.0,1,€€€,6,53.309898,-6.283949,Dublin,5-9 Terenure Place,,,"[5-9 Terenure Place, Dublin 6, Republic of Ire..."
1730,nAj5_-n6auPSWYHGsgL3_g,Voici Creperie and Wine Bar,creperies,1.0,1,,6,53.321891,-6.266197,Rathmines,1A Rathgar Road,,,"[1A Rathgar Road, Rathmines, 6, Republic of Ir..."
1731,MoTW58ukvPLNhf98U5i2hA,Grangers,pubs,5.0,1,,5,53.392990,-6.214760,Coolock,,,,"[Coolock, 5, Republic of Ireland]"
1732,HkeaGMvNDqtiZ76ttjd8Kw,Martins Lounge,pubs,2.0,1,,11,53.390630,-6.288100,Dublin,122 Ballygall Road W,,,"[122 Ballygall Road W, Dublin 11, Republic of ..."
1733,mKSywJhByCWlDIG00K6byw,Comhaltas Ceoltóirí Éireann,recording_studios,5.0,1,,,53.289089,-6.207780,Stillorgan,"Cultúrlann na hÉireann, 32 Belgrave Square",Monkstown,,"[Cultúrlann na hÉireann, 32 Belgrave Square, M..."

Save the raw data
--

In [5]:
result.to_csv('raw.csv', sep=',', header=True, index=True,float_format = str)